/* === FARBEN === */

/*
BLAU    #45317D
GRUEN  #3B9243
GELB #EDC226
WEISS #FFF

 */

/* === GLOBAL === */

 body {
   margin: 0;
   font-family: 'Raleway', 'Lato', 'Helvetica Neue', 'Arial', sans-serif;
   font-size: 16px;
 }

 * {
   box-sizing: border-box;
 }

 /* === GENERELLES === */

 .clearfix::after {
   content: "";
   display: block;
   clear: both;
 }

 .active {
   background-color: #EDC226 !important;
 }

 /* === Navigationsleiste === */

 .header-nav {
   width: 100%;
   height: 100px;
   background-color: #3B9243;
   position: relative;
   font-weight: bold;
   font-size: 2rem;

 }

 .header-nav a > img {
   height: 80px;
   width: auto;
   margin: .55rem;
   float: left;
 }

 .header-nav  ul {
   margin: 0;
   padding: 0;
   float: right;
   height: 100%;
 }

 .header-nav ul > li {
   display: inline-block;
   height: 100%;
   padding: 1.4rem .5rem 0 .5rem;

 }

 .header-nav ul > li > a {
   margin-top: .7rem;
   display: inline-block;
 }

 .header-nav ul > li > a:link {
   color: #45317D;
   text-decoration: none;
 }

 .header-nav ul > li > a:visited {
   color: #45317D;
   text-decoration: none;
 }

 .header-nav ul > li > a:hover {
   color: #FFF;
   text-decoration: none;
 }

 .header-nav ul > li > a:active {
   color: #FFF;
   text-decoration: none;
 }

 .header-nav .col-6 {
   padding-top: 0;
   padding-bottom: 0;
 }

 .header-nav .container,
 .header-nav .row,
 .header-nav .col-6 {
   height: 100%;
 }

 /*== Navigationsleiste (MOBIL) == */

 .mobile-nav-button {
   color: #FFF;
   float: right;
   font-size: 2rem;
   border: 2px solid #FFF;
   width: 37px;
   height: 37px;
   position: relative;
   margin-top: 30px;
   margin-bottom: 35px;
 }

 .mobile-nav-button > span {
   position: absolute;
   bottom: -11px;
   left: 7px;
   margin-bottom: 10px;
 }

 .mobile-nav-content > ul > li {
   display: block;
   background-color: #3B9243;
   height: 50px;
   padding: 0 1.2rem;
   text-align: center;
 }

 .mobile-nav-dropdown {
   position: relative;
   display: inline-block;
   float: right;
 }

 .mobile-nav-content {
   position: absolute;
   right: 0;
   top: 100px;
   display: none;
 }

 .mobile-nav-dropdown:hover > .mobile-nav-content {
   display: block;
 }

 .mobile-nav {
   display: none;
 }

 @media (max-width: 768px) {
   .desktop-nav {
     display: none;
   }

   .mobile-nav {
     display: block;
   }

 }



.edi1 > a > img {
  height: 300px;
  width: auto;
  float: left;
  padding-right: 20px;
  padding-bottom: 5px;
}

.h2 {
  margin-left: 50px;
}

.clear-float {
  clear: both;
}

#foto1 {
margin-top: 20px;
position: relative;
left: 50px;
}

#foto2 {
margin-top: 20px;
position: relative;
right: 50px;
left: 50px:
}



.header-banner {
  width: 100%;
  height: 0;
  padding-top: 27.10375%;
  background: url("../img/fernando.jpg") no-repeat;
  background-size: contain;
}

.header-banner-klein {
  width: 100%;
  height: 0;
  padding-top: 10.6264869151%;
  background: url("../img/canaria.jpg") no-repeat;
  background-size: contain;
}




/*=== GRID-SYSTEM  (SICHTBARKEIT)===

.border, .border * {
  border: 1px solid #91C4FF;
}

[class*="col-"] {
  background-color: #BFDDFF;
}

p {
  background-color: #91C4FF;
  padding: 0;
  margin: 0;
  color: #FFF;
  text-align: center;
}
*/


/* === GRID-SYSTEM === */

.container {
  width: 95%;
  margin-left: auto;
  margin-right: auto;
}

.row::after {
  content: "";
  clear: both;
  display: block;
}

[class*="col-"] {
  float: left;
  min-height: 1px;
  padding: .8rem;

}

.col-1 { width: 16.666%; }
.col-2 { width: 33.333%; }
.col-3 { width: 50%; }
.col-6 { width: 100%; }

@media (max-width: 1024px) {
  .col-1 { width: 33.333%; }
  .h2 { width: 33.333%; }
  .edi1 { width: 33.333%; }
  .edi2 { width: 33.333%; }

}

@media (max-width: 768px) {
  .col-1 { width: 50%; }
  .col-2 { width: 100%; }
  .col-3 { width: 100%; }

}

@media (max-width: 480px) {
  .col-1 { width: 100%; }
  .col-2 { width: 100%; }
  .col-3 { width: 100%; }

}

/* === GRID-SYSTEM ohne Media=== */

/* First the Grid */
.gallery-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
  grid-gap: 1.5rem;
  justify-items: center;
  margin: 0;
  padding: 0;
}

/* The Picture Frame */
.gallery-frame {
  padding: .5rem;
  font-size: 1.2rem;
  text-align: center;
  background-color: #333;
  color: #d9d9d9;
}

/* The Images */
.gallery-img {
  max-width: 100%;
  height: auto;
  object-fit: cover;
  transition: opacity 0.25s ease-in-out;
}

.gallery-img:hover {
  opacity: .7;
}
